@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles"; 

:root {
  --background: #122926;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-arenaOrange: #ED572C;  
  --color-arenaBg: #122926;     
  --color-arenaCard: #1B3B37;

  --font-sports: var(--font-barlow-condensed), sans-serif;
  --font-body: var(--font-plus-jakarta), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  antialiased: true;
}

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    display: flex;
    width: max-content;
    animation: marquee 25s linear infinite;
  }
}
